<div data-view-bundle="DialerView">
    <div class="row">
        <div class="cell" data-view-name="clear"></div>
        <div class="cell" data-view-name="abc"></div>
        <div class="cell" data-view-name="def"></div>
    </div>
    <div class="row">
        <div class="cell" data-view-name="ghi"></div>
        <div class="cell" data-view-name="jkl"></div>
        <div class="cell" data-view-name="mno"></div>
    </div>
    <div class="row">
        <div class="cell" data-view-name="pqrs"></div>
        <div class="cell" data-view-name="tuv"></div>
        <div class="cell" data-view-name="wxyz"></div>
    </div>
</div>
